.header__main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
  width: 100%;
  background: #f2f3f4;
}
.header-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 44px;
  color: #707070;
}
@media (max-width: 425px) {
  .header-title {
    font-size: 12px;
  }
  .header__main {
    height: 34px;
  }
}
